@inherits MinesweeperComponentBase

<div style="width: @(Width.ToString())px; height: @(Height.ToString())px;
            background-color: #8d8d8d"
     @onclick="OnClick"
     @oncontextmenu="OnRightClick" @oncontextmenu:preventDefault="true">
</div>

@code {

    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public Action OnRightClick { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public int Height { get; set; }

}